%body
  .container.contenu
    = form_for(@infos, url: user_personal_infos_path(@user.id)) do |f|
      %h1 Personal Informations
      = f.text_field :first_name, placeholder: 'First Name'
      %p
      = f.text_field :last_name, placeholder: 'Last Name'
      %p
      = f.text_field :address, placeholder: 'Address'
      %p
      = f.text_field :country, placeholder: 'Country'
      %p
      = f.telephone_field :phone_no, placeholder: 'Phone #'
      %p
      = f.text_field :postal_code, placeholder: 'Postal Code'
      %p
      = f.submit "Create"
