%body
  = form_for(@reservation, url: gestion_user_reservations_path) do |f|
    %p I will arrive on :
    = f.date_select :start_date, selected: Date.today
    %p I will leave on :
    = f.date_select :end_date, default: 3.days.from_now
    %p I want :
    = f.text_area :client_demands
    %p
    = f.submit "Create"