%body
  = form_for(@reservation, url: gestion_reservations_path) do |f|

    %p for client # :
    = f.select :user_id, options_for_select(User.all.map{|x| [x.email,  x.id]})
    %p
    = fields_for :room_reservation do |ff|
      %p check-in :
      = ff.date_select :start_date, selected: Date.today
      %p
      %p check-out :
      = ff.date_select :end_date, default: 3.days.from_now
      %p
      %p Room :
      = select_tag :room_no, options_for_select(Room.all.map{|x| [x.room_no,  x.id]})
    %p
    %p Client Demands :
    = f.text_area :client_demands
    %p
    = f.submit "Create"
