.container.roomChoice
  .roomNo
    room no
    = 0 + 1

  = form.fields_for :individual_room_reservation do |room_res|
    %table.table.table-borderless
      %tr
        %th{style: "border: none"} Dates
        %td{style: "border: none"}
          %b FROM : 
          = room_res.date_select :start_date, selected: Date.today
        %td{style: "border: none"} 
          %b TO : 
          = room_res.date_select :end_date, default: 3.days.from_now
      %tr
        %th{style: "border: none"} Type / View
        %td{style: "border: none"} 
          %b TYPE : 
          = room_res.select :room_type, RoomType.pluck(:room_type)
        %td{style: "border: none"} 
          %b VIEW : 
          = room_res.select :view_type, ViewType.pluck(:view_type)