%body
  %h3 Making a reservation?
  = form_tag(new_reservation_path, id: "form_selection") do |form|
    = render partial: "client/reservations/reservation_first_step", locals: {form: form}

    = render partial: "client/reservations/reservation_second_step", locals: {form: form}

    = render partial: "client/reservations/reservation_third_step", locals: {form: form, nb_rooms: @nb_rooms}

    = render partial: "client/reservations/reservation_fourth_step", locals: {form: form, nb_rooms: @nb_rooms}

  = submit_tag "CONFIRM", class: "btn btn-default form-btn hidden"



:javascript
  nb_rooms = 0;
  $(function() {
    setDatePicker()
  })

  setDatePicker = function() {
    $("#check_in").datepicker({
      format: 'yyyy-mm-dd'
    });
    $("#check_out").datepicker({
      format: 'yyyy-mm-dd'
    });
  }