%body
  %h1 Reservation
  = form_for(:my_reservation, url: client_reservations_path) do |form|
    #ReservationFormContent
      .container.room_choice#ajout_chambre
        .roomNo
          room no
          = 0 + 1
        %table.table.table-borderless
          %tr
            %td{style: "border: none"}
              %b FROM :
              = text_field_tag "rooms[0]start_date"
            %td{style: "border: none"}
              %b TO :
              = text_field_tag "rooms[0]end_date"
          %tr
            %td{style: "border: none"}
              %b TYPE :
              = select_tag "rooms[0]room_type", options_for_select(RoomType.all.map{|x| [x.room_type,  x.id]})
            %td{style: "border: none"}
              %b VIEW :
              = select_tag "rooms[0]view_type", options_for_select(ViewType.all.map{|x| [x.view_type,  x.id]})

    %br

    #hidden{style: "display: none"} RENDER HERE

    %a{:href => "#", onclick: "add_new_room_search()", class: "btn btn-default"} ADD
    %br
    %br
    = form.submit "Create", class: "btn btn-default", confirm: "Are you sure?"



:javascript
  nb_rooms = 0;
  $(function() {
    $("#rooms_0start_date").datepicker();
  })

  add_new_room_search = function() {
    div = $('#ajout_chambre').clone()
    $('#ReservationFormContent').append(div)
  }