%body
  %h3 ALL YOUR BASES ARE BELONG TO US!?
  = form_tag(new_reservation_path, id: "form_selection", remote: true) do
    = hidden_field_tag :cpt_steps, @cpt_steps
    = render partial: "client/reservations/reservation_first_step"

    .container
      = submit_tag "NEXT", class: "btn btn-default form-btn", id: "btn-next-step"
  .container
    = submit_tag "CONFIRM", class: "btn btn-default form-btn hidden", onclick: "changeFormTarget()"



:javascript
  nb_rooms = 0;
  $(function() {
    setDatePicker()
  })

  setDatePicker = function() {
    $("#check_in").datepicker({
      format: 'yyyy-mm-dd'
    });
    $("#check_out").datepicker({
      format: 'yyyy-mm-dd'
    });
  }

  showNextStep = function() {
    $("#form_selection").submit()
  }

  changeFormTarget = function() {
    $("#form_selection")[0].action = "/client/reservations"
    $("#form_selection").attr("data-remote", "false")
    $("#form_selection").submit()
  }

  refreshNbRooms = function() {
    $("#btn-second-step")[0].value = "CHANGE"
  }

  hidebutton = function(cpt_steps) {
    $("#btn-first-step").remove() // verif dates valides!!
    $("#form_selection").submit()
  }